.person-details {
  display: flex;
  margin-top: 15px;
  flex-direction: row;
  padding: 15px;
}

.person-details .person-image {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

.person-details .list-group-item {
  padding: 5px;
}

.person-details .list-group-item .term{
  margin-right: 10px;
}